@charset "utf-8";
@import 'compass';

@media (max-width: 768px) {
	#js-last6days {
		width:100%;
		ul li {
			width:90%;
		}
	}
	.form__textarea {
		width:90%;
	}
	.form__percent {
		float:left;
		width:100%;
	}
	.graph {
		width:100%;
		.graph__cont {
			width:90%;
			margin:0 5%;
		}
	}
	.graph__cont__inner {
		width:50%;
		float:right;
		margin:10px 0 0;
		padding:0;
		position:relative;
		.graph__cont__inner--graph {
			width:90%;
		}
		.graph__cont__inner--des {
			width:63%;
			border-radius:50%;
			background:none;
		}
		.graph__inner {
			background:#fff;
			padding:0;
			line-height:1;
			width:100%;
			position:absolute;
			bottom:0;
			right:0;
			border-radius:4px;
			span {
				font-size:60%;
			}

		}
	}
	.today {
		width:45%;
		float:right;
		margin:0 5% 0 0;
		padding:0;
		.today__img {
			margin:30px 10px 10px;
		}
	}

}
