html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,em,img,small,strong,sub,sup,dl,dt,dd,ol,ul,li,form,label,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,footer,header,hgroup,menu,nav,output,ruby,section,summary{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}
body {
	line-height:1;
}
ol,ul {
	list-style:none;
}
blockquote,q {
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
input[type=text],button,textarea {
	border:none;
	margin:0;
	padding:0;
	font-family:"Hiragino Kaku Gothic ProN", sans-serif;
}
a,img,button a {
	border:none;
}

html, body {
	height:100%;
}
body {
	color:#444;
	line-height:1.8;
	font-family:"Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
	position:relative;
	background:url(../img/bg.png) #444
}

.disp--none {
	display:none;
}
