@charset "utf-8";
@import 'compass';
@import '_reset';
@import '_header';
@import '_width';
@import '_firstview';


.graphcommon,#last6days ul li .graph,
#today .graph {
	margin:10px 10px 5px 18px;
	display:table;
}
.graphcommon span,#last6days ul li .graph span,#today .graph span {
	display:table-cell;
}
.graphcommon .e00,#last6days ul li .graph .e00,#today .graph .e00 {
	background:#ea4d62;
}
.graphcommon .e01,#last6days ul li .graph .e01,#today .graph .e01 {
	background:#fad945;
}
.graphcommon .e02,#last6days ul li .graph .e02,#today .graph .e02 {
	background:#7edafd;
}
.graphcommon .e03,#last6days ul li .graph .e03,#today .graph .e03 {
	background:#60c644
}
.graphcommon .e04,#last6days ul li .graph .e04,#today .graph .e04 {
	background:#ccc
}

.container {
	position:relative;
	min-height:100%;
	width:100%
}
.main {
	width:100%;
	margin:0 auto;
	padding:50px 0 30px;
	clear:both;
	position:relative;
}
#last6days {
	float:left;
	width:60%;
	margin:0 2% 0 0;
	padding:0 2% 0 0;
	ul {
		overflow:hidden;
	}
	li {
		width:46%;
		min-height:200px;
		float:left;
		margin:3% 0 0 3%;
		padding:0;
		position:relative;
		background:#eee;
		box-shadow:0 1px 1px #000;
		&:after {
			opacity:0.9;
			z-index:-1;
			min-width:46%;
			box-shadow:0 15px 10px #000;
			transform:rotate(3deg);
			background:#999;
			position:absolute;
			top:80%;
			left:auto;
			right:10px;
			bottom:15px;
			content:"";
			padding:0 0 10px;
		}
		p {
			margin:25px 15px 15px;
			font-size:95%;
			line-height:1.2;
			word-break:break-word;
			padding:10px 0 0;
		}
	}
	.memo--none {
		background:#ddd;
	}
	.edit{
		background:url(../img/bg_edit.png) no-repeat left top #fff;
		background-size:100px auto;
		a {
			width:100%;
			height:100%;
			display:block;
			color:#333;
			text-decoration:none;
		}

	}
	.delete {
		background:url(../img/bg_delete.png) no-repeat left top #fff;
		background-size:70px auto;
		a {
			width:100%;
			height:100%;
			display:block;
			color:#333;
			text-decoration:none;
		}

	}
	.graph {
		height:20px;
		width:85%;
		position:absolute;
		bottom:10px;
		right:10px;
	}
	.date {
		margin:5px 10px;
		padding:3px 15px;
		text-align:right;
		font-size:75%;
		position:absolute;
		top:-12px;
		right:0;
		display:block;
		opacity:0.7;
		background:#fcc;
		color:#000;
		box-shadow:0 0 1px #f66
	}

}

#graph-today {
	float:right;
	width:35%;
	opacity:0.8;
}
#graphArea {
	margin:20px 0 0;
	position:relative;
}
#graphArea #graphArea__graph{
	width:85%;
	margin:0;
}
#graphArea #graphArea__des {
	width:55%;
	border-radius:50%;
	background:#fff;
	position:absolute;
	top:17%;
	right:30%
}
#graphArea #graphArea__des .graph__inner {
	line-height:1.2;
	position:absolute;
	bottom:30px;
	right:30px;
}
#graphArea #graphArea__des .graph__inner span {
	font-size:80%;
}
#graphArea #graphArea__des .graph__inner p {
	width:100%;
	font-size:95%;
	line-height:1.5;
	margin:0;
	padding:0;
}
#graphArea .e00 {
	color:#ea4d62;
}
#graphArea .e01 {
	color:#fad945;
}
#graphArea .e02 {
	color:#7edafd;
}
#graphArea .e03 {
	color:#60c644;
}
#graphArea .e04 {
	color:#ccc;
}
#today {
	width:85%;
	margin:0 15% 0 0;
	color:#fff;
}
#today #today__inner a {
	text-decoration:none;
	display:block;
}
#today .edit a {
	color:#fff;
	background:url(../img/bg_edit2.png) no-repeat center;
	background-size:32% auto;
}
#today .edit a:hover {
	color:#ffe;
}
#today .delete a{
	color:#fff;
	background:url(../img/bg_delete2.png) no-repeat center;
	background-size:25% auto;
}
#today .delete a:hover {
	color:#ffe;
}
#today p {
	word-break:break-word;
	margin:10px 5px 0;
	line-height:1.2;
	overflow:hidden;
}
#today img {
	float:right;
	width:35%;
	margin:0 0 10px;
}
#today .graph {
	height:20px;
	width:90%;
	margin:20px auto 10px;
}
#today .date {
	margin:0;
	font-size:10px;
	text-align:right;
}
#today #today__title {
	border-left:7px solid #ccc;
	padding:0 0 0 10px;
	margin:20px 0 0;
}
#alert {
	clear:both;
	text-align:center;
	color:#fff;
}
#alert .alert__text {
	margin:100px auto 0;
}
#alert .alert__radio {
	margin:20px 0;
}
#form {
	margin:10px 0;
	clear:both;
	overflow:hidden;
	color:#fff;
}
#form #form__title {
	margin:20px 20px 0;
}
#form #form__radio {
	margin:10px 30px 0;
}
#alert--memo,#alert--percent,#alert--percent2,#alert--nokori,#alert--limit{
	margin:5px;
	color:#fcc;
	font-size:90%;
}
#textarea{
	width:50%;
	margin:10px 5% 0 5%;
	float:left;
}
#form__textarea{
	padding:5px;
	height:200px;
	width:100%;
}
#other{
	float:right;
	width:35%;
	margin:30px 5% 0 0;
	padding:0;
}
#other #emotion input {
	width:50px;
	margin:0 5px 0 0;
	padding:5px;
	text-align:right;
}

dt {
	padding:5px;
}
dd {
	margin:-2.5em 0 0 7em;
	padding:5px;
}
#btn {
	padding:20px 0;
	text-align:center;
	clear:both;
}
button {
	vertical-align:bottom;
	width:25%;
	background:#fcc;
	border-radius:3px;
	box-shadow:0 3px 0 #c99;
	color:#000;
	font-size:105%;
	text-align:center;
	text-decoration:none;
	margin:10px;
	padding:10px 0;
}
button:hover,button[disabled] {
	box-shadow:0 1px 0 #444;
	margin:12px 10px 8px;
	vertical-align:bottom;
}
button[disabled] {
	background:#666;
	color:#999;
	box-shadow:none;
}
button:active {
	text-decoration:none;
	border-width:0px;
	border:0;
	border-color:transparent;
}
footer {
	clear:both;
	position:absolute;
	bottom:0;
	width:100%;
	text-align:center;
	font-size:75%;
	color:#ccc;
	height:30px;
}
@media (max-width: 768px) {
	#last6days {
		width:100%;
		ul li {
			width:90%;
		}
	}
	#textarea {
		width:90%;
	}
	#other {
		float:left;
		width:100%;
	}
	#graph-today {
		width:100%;
	}
	#graph-today .graphCont {
		width:90%;
		margin:0 5%;
	}
	#graph-today .graphCont #graphArea {
		width:50%;
		float:right;
		margin:10px 0 0;
		padding:0;
		position:relative;
		#graphArea__graph {
			width:90%;
		}
		#graphArea__des {
			width:63%;
			border-radius:50%;
			background:none;
		}
	}
	#graph-today .graphCont #graphArea .graph__inner {
		background:#fff;
		padding:0;
		line-height:1;
		width:100%;
		position:absolute;
		bottom:0;
		right:0;
		border-radius:4px;
	}

	#graph-today .graphCont #graphArea .graph__inner span {
		font-size:60%;
	}
	#graph-today .graphCont #today {
		width:45%;
		float:right;
		margin:0 5% 0 0;
		padding:0;
	}
	#graph-today .graphCont #today img {
		margin:30px 0 10px;
	}
}
@-webkit-keyframes blink {
	from {
		opacity:1;
	}
	to {
		opacity:0.5;
	}
}
.att{
	animation-name:blink;
	animation-duration:0.3s;
	animation-iteration-count:6;
	animation-direction:alternate;
	animation-delay:0s;
}

.w,.w0 {
	display:none !important;
}